# Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

# ans.. pearson  method  range is [-1 to 1] 
# formula of pearson method is   p(x,y)= cov(x,y)/stdx.stdy

# pearson method is calculate the relashion ship b/w two feature

# Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

# ans .. spearman 's is also difen the relationship b/w the two feature  but spearman is woking on the  rank system  the range of the spearman is [-1to1]

# the given data is sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. firstly  i give the rank of all night and after that calculate the  relationship  formula of spearman's 
# cov( rank(x),rank(y))/std(rank(X)).std(rank(y))

# Q3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

#  to apply the method of the given data  i ued the pearson metho  trhe number of hours of exercise per week  , the body mass index  , rank odf house from 1 to 50 ,rank bmi is 1 to 50   use the formula and calculate  -0.32  nad used the spearman's used the formula and calculate -0.29 the result show that both are negative which means negative relation

# Q4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

# ans .. i apply the formula and  calculate the relationship  thye given data is two feature  x  ,and y  so apply that pearson method  r= undefind  the pearson corr.. is undifind because the denominator is zero this  mean that there is no linear relationship b/w trhe two feature  .

# Q5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:

In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({
    'Age':[25,42,37,19,31,28],
    'soft drink':['coke','pepsi','mountain dew','coke','pepsi','coke']
})

In [4]:
df

   Age    soft drink
0   25          coke
1   42         pepsi
2   37  mountain dew
3   19          coke
4   31         pepsi
5   28          coke

## firstly convert the catogrical data to numrical data

In [6]:
# use the label encoding

In [7]:
import  pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder=LabelEncoder()

In [9]:
encoder.fit_transform(df[['soft drink']])

C:\Users\himan\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 2, 1, 0, 2, 0])

In [10]:
df1=pd.DataFrame(encoder.fit_transform(df[['soft drink']]))

C:\Users\himan\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
df1

   0
0  0
1  2
2  1
3  0
4  2
5  0

In [15]:
df2=pd.concat([df,df1], axis=1)

In [16]:
df2

   Age    soft drink  0
0   25          coke  0
1   42         pepsi  2
2   37  mountain dew  1
3   19          coke  0
4   31         pepsi  2
5   28          coke  0

In [17]:
df2.cov()

C:\Users\himan\AppData\Local\Temp\ipykernel_7720\3825087732.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.cov()

           Age         0
Age  68.666667  6.266667
0     6.266667  0.966667

In [18]:
df2.corr()

C:\Users\himan\AppData\Local\Temp\ipykernel_7720\1778878097.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr()

          Age         0
Age  1.000000  0.769175
0    0.769175  1.000000

# Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

 # 1..Organize the data in a table with two columns: one for the number of sales calls (X) and one for the number of sales (Y).
# 2..Calculate the mean of X and Y by adding up all the values in each column and dividing by the sample size (n = 30).
# 3..Calculate the difference between each X value and the mean of X, and each Y value and the mean of Y. These are called the deviations from the mean.
# ..4..Calculate the product of the deviations for each pair of X and Y values. This is called the cross-product of deviations.
# .5.alculate the square of each deviation for X and Y values. These are called the squared deviations.
 # 6...Sum up all the cross-products of deviations and all the squared deviations for X and Y.
# 7..Plug in the sums into the formula for Pearson correlation coefficient ®, which is:

# r=∑(X−Xˉ)2∑(Y−Yˉ)2​∑(X−Xˉ)(Y−Yˉ)​

# 8..Interpret the value of r according to its sign and magnitude. A positive r indicates a positive linear relationship between X and Y, while a negative r indicates a negative linear relationship. The closer r is to 1 or -1, the stronger the linear relationship. The closer r is to 0, the weaker or no linear relationship.